p {
  margin: 0;
}
body {
  /* background-color: rgb(80, 137, 224); */
  background-color: rgb(59, 129, 129);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
h1 {
  color: rgb(70, 70, 70);
  margin-top: 50px;
}

.todoListSelectorContainer {
}
.todoListSelector {
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
}
#todoItemsContainer {
  justify-items: left;
}
.todoItemContainer {
  border: 1px rgb(70, 70, 70) solid;
  background-color: rgba(250, 203, 109, 0.88);
  width: 300px;
  height: 80px;
  display: flex;
  border-radius: 12px;
  align-items: center;
  position: relative;
  margin-bottom: 4px;
}

#todoInputDialog {
  border-radius: 20px;
  background-color: lightgrey;
  margin-top: 292px;
}
#todoInputForm {
  width: 300px;
  border-radius: 20px;
  background-color: lightgrey;
}
.todoParamDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  margin: 20px;
  width: 150px;
}

#newTodoItemButton {
  width: 300px;
  height: 80px;
  font-size: 40px;
  border-radius: 12px;
  z-index: 2;
  /* background-color: rgb(142, 165, 233); */
  background-color: lightgray;
}

#buttonDiv {
  position: absolute;
  right: 0px;
  display: inline;
  width: 55px;
}

.buttons {
  font-style: italic;
  height: 36px;
  border-radius: 10px;
  right: 10px;
  width: 55px;
}
#siteFooterExplainer {
  position: fixed;
  bottom: 100px;
  width: 300px;
  text-align: center;
  /* z-index: 1; */
  color: lightgray;
}
